@media screen and (min-width: 320px) and (max-width:768px) {
  .menu {
    display: none;
  }
  .header-m{
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 23px;
    &__content{
      width:182px;
      position: relative;
      &__btn{
        position:relative;
        margin-left: 138px;
        width: 44px;
        height: 37px;
        border: none;
        background: #000;
        .btn-icons-close{
          opacity: 1;
        }
      .btn-icons-open{
          opacity: 0;
        }
        &--icon{
          top:0;
          left:0;
          position: absolute;
          width: 100%;
          height: 100%;
          
        }
        &:focus{
          .btn-icons{
            &-close{
              opacity: 0;
            }
            &-open{
              opacity: 1;
            }
          }
        }
        &:focus+ul{
          transition-duration: 0.7s;
          transform: translateY(0);
        }
      }
      &__list{
        transition-duration: 0.4s;
        transform: translateY(-150%);
        position: absolute;
        left: 0;
        width: 182px;
        background: #f5f5f5;
        &__item{
          height: 32px;
          padding-left: 12px;
          display: flex;
          align-items: center;
          &:hover{
            background: #e5e5e5;
          }
          .link-active{
            color:#57a4a4;
          }
          &--link{
            font-size: 11px;
            color:#4e4e4e;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .container-img{
    padding: 0 26px;
  }
  .content{
   
    &__title{
      padding-left: 25px;
    }
    &__list{
      row-gap: 115px;
      margin-bottom: 110px;
      &-item{
        width: 100%;
        padding: 0 25px;
        flex-wrap: wrap;
      }
    }
    &__block{
      margin-left: 10px;
      &-discription{
        display: none;
      }
    }
  }
  .slider-block__picture-text-item{
    visibility: hidden;
    &--small{
      display: none;
    }
  }
  .picture-benefits{
    &__medium{
      position: relative;
      &::before{
        content: "-Latest Instagram Shots";
        position: absolute;
        top: -25px;
        text-transform: uppercase;
        color: $colorTextGrey;
        font-weight: $font-weight700;
        font-size: 16px;
      }
    }
    padding: 14px 0 42px 0;
    a{
      display:none;
    }
    a:first-child{
      display: block;
      margin:0 auto;
    }
  }
  .footer-box__block2{
    width:90%;
  }
  .footer{
    height: auto;
    &-container-contact{
      flex-wrap: wrap;
      row-gap: 14px;
      a{
        width: 100%;
        text-align: center;
      }
    }
  }
  .content__block{
    padding: 0;
  }
}