@media screen and (min-width: 1200px) {
  .header-m{
    display: none;
  }
}
@media  screen and (width:768px){
  .slider-block{
    margin-top: 237px;
  }
}
@media screen and (min-width:768px) and (max-width: 1199px) {

  .menu {
    display: block;
    max-width: 768px;
    padding: 23px 0 43px 0;
    &__list{
      width: 100%;
      padding: 0 80px;
    }
    
  }
  .header-m{
    display: none;
  }
  .container-img {
    max-width: 768px;
  }
  .content {
    max-width: 768px;
    padding: 56px 0 0 0;
    &__list {
      height: 680px;
    }
  }
  .block-picture {
    &__text {
      max-width: 768px;
    }
  
  }
   .picture-benefits {
    max-width: 768px;
    a {
      width: 249px;
      height: 249px;
    }
    a:last-child {
      display: none;
    }
  }
  .slider-block__picture-text{
    padding: 47px 10px 0 10px;
    max-width: 768px;
  }
  .footer {
    
    &-box__block2{
      width: 100%;
      max-width: 768px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &-container {
      &-contact{
        max-width: 768px;
        padding-top: 34px;
      }
    }
  }
  
}