@mixin flex-element($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  @mixin style{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $footer-color;
  }