* {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100px;

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 850px;
    color: $colorTextGrey;
    font-size: $font-size11px;
    padding-top: 45px;
  }
  &__link {
    color: $colorTextGrey;
    &:hover {
      color: #57a4a4;
    }
  }
}
.container-img {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  &__picture {
    width: 100%;
  }
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 40px;
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    color: $colorTextGrey;
    font-weight: $font-weight700;
    padding-bottom: 25px;
  }
}
.content__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  width: 1200px;
  margin: 0 auto; //
  width: 100%; //
  &-item {
    width: 600px;
    height: 140px;
    display: flex;
    align-items: center;
  }
  img {
    width: 160px;
    height: 140px;
  }
}
.content__block {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  padding: 0px 10px;
  width: 410px;
  &-title {
    font-size: 15px;
    color: $colorTextGrey;
    font-weight: $font-weight700;
    line-height: 30px;
    padding-bottom: 10px;

    &:hover {
      color: #57a4a4;
    }
  }
  &-comments {
    color: #7c7c7c;
    font-size: 11px;
    line-height: 20px;
    width: 240px;
    width: auto;
    padding-bottom: 15px;
  }
  &-discription {
    font-size: 14px;
    line-height: 26px;
    width: 410px;
    color: #5c5c5c;
    line-height: 26px;
    padding-bottom: 15px;
  }
}
.slider-block {
  background-color: #f9f9f9;
  &__picture {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  &__picture{
    &-text{
      margin:0 auto;
      padding-top: 47px;
      max-width: 1200px;
      // padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      color: $colorTextGrey;
      font-weight: $font-weight700;
      &-item{
        font-size: 16px;
        &--small{
          font-size: 13px;
        }
      }
    }
  }
}
.block-picture__text {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 24px 130px;
}

.picture-benefits {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 35px 0 50px 0;

  &__medium {
    width: 285px;
    height: 285px;
    img {
      width: 100%;
    }
  }
}

.footer {
  background-color: $footer-color;
  height: 355px;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 70px;
}
.footer-box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  &__block1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fefefe;
  }
  &__block2 {
    padding-top: 22px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $colorTextGreylight;
    width: 684px;
  }
}
.footer-container-contact {
  margin: 0 auto;
  display: flex;
  column-gap: 12px;
  justify-content: center;
  &__address {
    color: #b9b9b9;
    &::after {
      content: "/";
      color: white;
      margin-left: 15px;
    }
    &:hover {
      color: #57a4a4;
    }
  }
  &__tel {
    color: #b9b9b9;
    &::after {
      content: "/";
      color: white;
      margin-left: 15px;
    }
    &:hover {
      color: #57a4a4;
    }
  }
  &__mail {
    color: #b9b9b9;
    &:hover {
      color: #57a4a4;
    }
  }
  &__slash {
    color: #b9b9b9;
  }
}
.footer-box__block-icons {
  width: 192px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 34px;
  padding-top: 37px;
}

@import "media-mobile";
@import "media-tablet";

